---
platform: ppc64le
image_resource:
  type: docker-image
  source:
    repository: 140.211.168.31:5000/cloudfoundry/cflinuxfs2
    insecure_registries: ["140.211.168.31:5000"]
inputs:
  - name: binary-builder
  - name: buildpacks-ci
  - name: builds-yaml
  - name: built-yaml
outputs:
  - name: binary-builder-artifacts
  - name: builds-yaml-artifacts
run:
  path: buildpacks-ci/scripts/build-binary.rb
